priority -50

snippet chead "C/Cpp file header"
/** ----------------------------------------------
  * Copyright (C) `date +%Y` All rights reserved.
  * @file: `!p snip.rv = fn`
  * @version: 0.0.1
  * @author: ${1}
  * @date: `date +%Y-%m-%d`
  * @brief: ${2}
  * @details: ${3}
  * @modified_history:
  *   - [`date +%Y-%m-%d`] $1;
  *   - [] ;
  *-----------------------------------------------*/
endsnippet

