priority -50

snippet cls "class .. (class)"
class ${1:`!v substitute(substitute(vim_snippets#Filename('$1','ClassName'),'^.','\u&',''), '_\(\w\)', '\u\1', 'g')`}
{
public:
	$1 () = default;
	~$1 () = default;

	$1 (${2:arguments});

	bool operator== (const $1& that) const;
	bool operator< (const $1& that) const;
};
endsnippet

snippet ptr "define smart ptr"
using Ptr = std::shared_ptr<${1:classname}>;
using WPtr = std::weak_ptr<$1>;
endsnippet
