priority -50

snippet node "A ros node"
<node name="${1}" pkg="${2}" type="${3}"
  args="${4}" output="${5}">
</node>
endsnippet

snippet param "Set ros param"
<param name="${1}" value="${2}" />
endsnippet

